.sidebar {
  position: absolute;
  top: 245px;
  right: 0;
  border-left: 2px solid #666;
  height: 100%;
  padding: 2rem;
  background: white;
  z-index: 1;

  @media (min-width: 60rem) {
    width: 25%;
  }
}
